<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mail.reset.title}">JiraRush - Установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mail.reset.greeting(${user.firstName})}">Привет, ${user.firstName}.</p>
<p th:text="#{mail.reset.instruction(${user.email})}">
    Мы получили запрос на установку нового пароля JiraRush для учетной записи: ${user.email}.
</p>
<a th:href="${resetUrl}" th:text="#{mail.reset.button}">Установить пароль</a>
</body>
</html>